set NERDTree
set number
set relativenumber

let mapleader = " "

nnoremap Y y$

" Save
nnoremap <silent><C-s> :w!<CR><C-l>
inoremap <silent><C-s> <C-o>:w!<CR><C-o><C-l>

" Navigating buffers
nnoremap <A-n> :action NextTab<CR>
nnoremap <A-p> :action PreviousTab<CR>
nnoremap <A-w> :action CloseEditor<CR>

" Split/close window
nnoremap <A-v> <C-w>v
nnoremap <A-s> <C-w>s
nnoremap <A-q> :action CloseEditor<CR>
nnoremap <leader><leader>

" Navigating windows
nnoremap <A-j> <C-w>j
nnoremap <A-k> <C-w>k
nnoremap <A-h> <C-w>h
nnoremap <A-l> <C-w>l