set sneak
set surround
set NERDTree
set number
set relativenumber
set visualbell
set scrolloff=0
set clipboard+=unnamed
set showcmd
set scrolloff=5
set highlightedyank
set hlsearch
set ignorecase smartcase
set incsearch
let sneak#s_next=1
let sneak#label=1

let mapleader = " "

nnoremap Y y$

nnoremap <ESC> <ESC>:nohl<CR>

nmap <leader>td <Action>(ToggleDistractionFreeMode)
nmap <leader>ts <Action>(ViewStatusBar)
nmap <leader>gt <Action>(Gradle.ExecuteTask)
nmap <leader>mr <Action>(Rerun)
nmap <leader>mk <Action>(RunConfiguration)

nmap <leader>rn <Action>(RenameElement)
nmap <leader>rm <Action>(ExtractMethod)
nmap <leader>rv <Action>(IntroduceVariable)
nmap <leader>rv <Action>(IntroduceConstant)
nmap <leader>rf <Action>(IntroduceParameter)
nmap <leader>rs <Action>(ChangeSignature)
nmap <leader>rr <Action>(Refactorings.QuickListPopupAction)

nmap gi <Action>(GotoImplementation)
nmap gt <Action>(GotoImplementation)

nmap <leader>gb <Action>(Git.Branches)
nmap <leader>gs <Action>(ActivateVersionControlToolWindow)

nmap ]d <Action>(ReSharperGotoNextErrorInSolution)
nmap [d <Action>(ReSharperGotoPrevErrorInSolution)

" Surround
" nmap Q ysiw
" nmap M ysiW

" Save
nnoremap <C-s> :w!<CR>
inoremap <C-s> <C-o>:w!<CR>

" Font size
nnoremap <C-=> :action EditorIncreaseFontSize<CR>
nnoremap <C--> :action EditorDecreaseFontSize<CR>

" Navigating buffers
nnoremap <C-o> :action Back<CR>
nnoremap <C-i> :action Forward<CR>

" Harpoon
nmap <leader>q :action HarpoonerQuickMenu<cr>
nmap <leader>m :action HarpoonerAddFile<cr>

nmap <leader>1 :action HarpoonerOpenFile0<cr>
nmap <leader>2 :action HarpoonerOpenFile1<cr>
nmap <leader>3 :action HarpoonerOpenFile2<cr>
nmap <leader>4 :action HarpoonerOpenFile3<cr>
nmap <leader>5 :action HarpoonerOpenFile4<cr>
