:root {
  --tab-block-margin: 10px;
  --tab-border-radius: 0px !important;
  --browser-padding: 6px;
  --browser-border-radius: 6px;
  --toolbarbutton-border-radius: 12px !important;
  --tab-min-height: 32px !important;
/*   --urlbar-height: 38px !important; */
  --urlbar-container-height: 40px !important;
  --inactive-titlebar-opacity: 1 !important;
  --sidebar-bgcolor: white !important;

  
  --browser-bgcolor: hsla(210, 30%, 80%, 0.3) !important;
  --tab-selected-bgcolor: color-mix(in oklab, rgba(240, 240, 240, 0.2), var(--sidebar-bgcolor) 100%) !important;
  --tab-hover-bgcolor: color-mix(in oklab, rgba(240, 240, 240, 0.2), var(--sidebar-bgcolor) 60%) !important;
  --tab-icon-end-margin: 16px !important;
  --toolbar-button-icon-fill: black !important;
  --tab-selected-outline-color: transparent !important;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --browser-shadow: 0px 0px 3px 3px var(--shadow-color) !important;

  --tab-textcolor: black !important;
    --tab-selected-textcolor: black !important;
    --toolbox-textcolor-inactive: black !important;
    --toolbox-textcolor: black !important;
/*     --toolbarbutton-icon-fill: black !important; */
  --sidebar-width: 240px;
  --browser-border-color: rgba(255, 255, 255, 0.4);
  --browser-border-top-color: rgba(255, 255, 255, 0.6);
}

@media (prefers-color-scheme: dark) {
  :root {    
    --tab-textcolor: white !important;
    --tab-selected-textcolor: white !important;
    --toolbox-textcolor-inactive: white !important;
    --toolbox-textcolor: white !important;
    --toolbarbutton-icon-fill: white !important;
    
    --tabstrip-inner-border: 0px !important;
    
    --sidebar-bgcolor: black !important;
    --browser-bgcolor: hsla(220, 20%, 10%, 0.3) !important;
    --tab-selected-bgcolor: color-mix(in oklab, rgba(0, 0, 0, 0.2), var(--sidebar-bgcolor) 40%) !important;
    --tab-selected-outline-color: color-mix(in oklch, rgba(255, 255, 255, 0.3), var(--sidebar-bgcolor) 30%) !important;
    --tab-selected-outline-top-color: color-mix(in oklch, rgba(255, 255, 255, 0.3), var(--sidebar-bgcolor) 1%) !important;
    --shadow-color: rgba(0, 0, 0, 0.12);
    --browser-shadow: 0px 0px 3px 2px var(--shadow-color) !important;
    --browser-border-color: rgba(255, 255, 255, 0.1);
    --browser-border-top-color: rgba(255, 255, 255, 0.3);
  }
}
hbox:not(#nav-bar-customization-target) {
  #nav-bar toolbaritem toolbarbutton,
  toolbarbutton .toolbarbutton-icon {
    fill: black !important;
  }
}
#nav-bar > toolbaritem toolbarbutton {
  fill: black !important;
}
toolbarbutton {
  transition: opacity 0.1s ease-in-out;
}
.titlebar-buttonbox {
  margin-left: 18px !important;
}
#navigator-toolbox {
/*   -moz-appearance: -moz-window-titlebar !important; */
/*     backdrop-filter: blur(8px) !important; */
  background-color: var(--browser-bgcolor) !important;
}
body {
/*   appearance: -moz-sidebar !important; */
/*   backdrop-filter: blur(8px) !important; */
  background-color: var(--browser-bgcolor) !important;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
/*   -moz-appearance: -moz-window-titlebar !important; */
/*   filter: saturate(200%) !important; */
  background-image: url(https://grainy-gradients.vercel.app/noise.svg) !important;
/*   background-color: var(--browser-bgcolor) !important; */
  opacity: 0.1;
}
#main-window {
  background-color: var(--browser-bgcolor) !important;
/*   appearance: -moz-sidebar !important; */
/*   background-color: transparent !important; */
}

#browser {
/*   appearance: -moz-sidebar !important; */
  background-color: var(--browser-bgcolor) !important;
/* filter: sepia(90%) !important; */
/*   background-color: var(--browser-bgcolor) !important; */
/*   clip-path: circle(100%); */
}


:has(#sidebar-main:not([hidden])) {
  .browserStack {
    margin-left: 0;
  }
}

:root:not([sizemode="fullscreen"]) tabbox {
  margin: var(--browser-padding) !important;
  margin-top: 0 !important;
  margin-left: 0 !important;

  clip-path: inset(0 -8px -8px -8px) !important;
  border-radius: 8px !important;
  padding-bottom: 0 !important;
  box-shadow: var(--browser-shadow) !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

:root:not([sizemode="fullscreen"]) tabpanels {
  clip-path: inset(0 0 0 0 round 0px 0px 8px 8px) !important;  
}

#nav-bar {
  height: calc(var(--urlbar-container-height) + 6px) !important;
}

#main-window body {
  border: 1px solid var(--browser-border-color) !important;
  border-radius: 9px !important;
  box-sizing: border-box !important;
  border-top-color: var(--browser-border-top-color) !important;
  outline: 1px solid white !important;
}

#nav-bar-customization-target {
  height: var(--urlbar-container-height) !important;
  top: 6px;
  left: var(--sidebar-width);
  right: 6px;
  background-color: var(--toolbar-bgcolor);
  position: absolute;
  border-bottom: 1px solid rgba(125, 125, 125, 0.1);
  
  clip-path: inset(-8px -8px 0 -8px) !important;
  border-radius: 7px !important;
  padding-bottom: 0 !important;
  box-shadow: var(--browser-shadow) !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  
  toolbarbutton {
    margin-left: 2px !important;
  }
}

#sidebar-button {
  display: none !important;
}

#urlbar:not([focused]) {
  #urlbar-background,
  #tracking-protection-icon-container,
  #identity-box,
  #star-button-box,
  #translations-button,
  #picture-in-picture-button {
    display: none !important;    
  }
}

#sidebar-main {
  width: var(--sidebar-width) !important;
}

splitter {
  display: none;
}

#PanelUI-menu-button {
  opacity: 0.5;
  position: fixed;
  top: 8px !important;
  left: calc(var(--sidebar-width) - 44px) !important;
}

#tabbrowser-tabs[orient="vertical"] {
  padding: 0px !important;
  font-size: 13px !important;
  font-family: "Inter", system-ui !important;
  font-weight: 400 !important;

  #tabbrowser-arrowscrollbox-periphery {
    margin-block: 2px !important;
  }

  .tab-background {
    margin-inline: 8px !important;
    margin-block: 2px !important;
    border-radius: 10px !important;
    height: 36px;
  }
  tab:hover .tab-background {
    background-color: var(--tab-hover-bgcolor) !important;
  }
  .tab-background[selected] {
    box-shadow: 0px 1px 3px 1px var(--shadow-color) !important;
/*     border-top: 1px solid var(--tab-selected-outline-top-color); */
    outline: none !important;
  }

  .tabbrowser-tab {
    padding-block: 0px !important;
/*     filter: blur(4px) !important; */
    
  }
  
  .tab-audio-button {
/*     position: fixed; */
/*     right: 12px; */
    margin-left: -5px !important;
  }
}

.tab-label-container:not([selected], [multiselected]) {
  opacity: 1 !important;
}

.tools-and-extensions, .actions-list {
  display: none !important;
  opacity: 0.5 !important;
}

.tab-icon-image {
  margin-inline-end: 12px !important;
  opacity: 0.8;
  height: 18px !important;
  width: 18px !important;
}

.tab-icon-image[selected] {
  opacity: 1;
}

.toolbarbutton-text {
  padding-inline-start: 12px !important;
}

.tab-text {
  margin-block: 2px !important;
}

.tab-label, .tab-group-label {
  margin-top: 1px !important;
}

.tab-close-button {
  border-radius: 8px !important;
  opacity: 0 !important;
  transition: opacity 0.1s ease-in-out;
}

.tabbrowser-tab:hover .tab-close-button {
  opacity: 1 !important;
}


/* icons */
.close-icon {
  list-style-image: url("resources/stop.svg") !important;
  height: 28px !important;
  width: 28px !important;
}

#back-button {
  list-style-image: url("resources/left.svg") !important;
}

#forward-button {
  list-style-image: url("resources/right.svg") !important;
}

#reload-button {
  list-style-image: url("resources/reload.svg") !important;
}

#stop-button {
  list-style-image: url("resources/stop.svg") !important;
}

#new-tab-button, #tabs-newtab-button {
  list-style-image: url("resources/newtab.svg") !important;
  opacity: 0.5 !important;
}

#unified-extensions-button {
  list-style-image: url("resources/extension.svg") !important;
}

#statuspanel {
  bottom: 6px !important;
  left: 6px !important;
  opacity: 0.8 !important;
}

#statuspanel-label {
  border-radius: 99px !important;
  border: 1px solid gray !important;
  padding-inline: 8px !important;
  padding-block: 3px !important;
  letter-spacing: 0.005em !important;
}

