@define-color bg #1c1e21;
@define-color bg_alt #DBDBDB;
@define-color border #3e74b2;
@define-color fg #FDFFDC;

* {
  /* all: initial; */
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 15px;
}

window#waybar {
  background: @bg;
}

#clock,
#cpu,
memory,
#battery,
#network,
#window,
#custom-gpu-recorder,
#pulseaudio {
  margin: 0px 4px;
  padding: 0px 4px;
  min-width: 96px;
  color: @fg;
}

#tray {
  margin: 0;
}

#custom-os-icon {
  background-image: url("/home/david/Downloads/penguin.png");
  background-repeat: no-repeat;
  background-size: 28px;
  min-width: 24px;
  /* margin: 1px 12px 0px 24px; */
}

#window {
  font-weight: bold;
}

#pulseaudio:hover {
  color: white;
  background-color: black;
}

#workspaces button {
  transition: 0;
  color: @fg;
  padding: 4px 12px 4px 12px;
}

#workspaces button.active {
  color: black;
  font-weight: bold;
  background-color: @bg_alt;
}

#workspaces button:hover {
  color: black;
  background-color: @bg_alt;
}

#workspaces button.urgent {
  background-color: #e78a4e;
}

#cpu.critical,
#memory.critical {
  color: #c14a4a;
}

#battery.warning,
#battery.critical,
#battery.urgent {
  color: #c14a4a;
}
