@define-color bg #000000;
@define-color bg_alt #555555;
@define-color border #3e74b2;
@define-color fg #ffffff;
@define-color fg_alt #54585B;

* {
  /* all: initial; */
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "Monocraft";
  font-size: 11px;
  font-weight: normal;
}

window#waybar {
  background: @bg;
}

#clock,
#cpu,
memory,
#battery,
#network,
#window,
#custom-gpu-recorder,
#pulseaudio,
#workspaces,
#tray {
  margin: 8px 8px;
  padding: 0px 0px;
  min-width: 64px;
  color: @fg;
  /* background: @bg; */
  /* border: 2px solid black; */
}

/* override */
#workspaces {
  margin: 0px;
}

.modules-right,
.modules-left {
  margin: 0px 0px;
  padding: 0px 0px;
  /* background: @bg; */
  background: transparent;
  /* border: 2px solid black; */
}

#pulseaudio:hover {
  color: white;
  background-color: black;
}

#workspaces button {
  transition: 0;
  padding: 4px 8px;
  margin: 0px 0px;
}

#workspaces button {
  transition: 0;
  color: @fg_alt;
  padding: 4px 8px;
  margin: 0px 0px;
  /* background: @bg; */
}

#workspaces button.active label {
  color: @fg;
  /* background: @bg; */
  font-weight: bold;
}

#workspaces button:hover {
  color: @bg;
  background: @bg_alt;
}

#workspaces button.urgent {
  background-color: #e78a4e;
}

#cpu.critical,
#memory.critical {
  color: #c14a4a;
}

#battery.warning,
#battery.critical,
#battery.urgent {
  color: #c14a4a;
}
