@define-color bg #000000;
@define-color bg_alt rgba(255, 255, 255, 0.15);
@define-color border #3e74b2;
@define-color fg #ffffff;

* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: "Iosevka SS14";
    font-size: 18px;
}

window#waybar {
    background: @bg;
}

#clock,
#tray,
#cpu,
#memory,
#battery,
#network,
#window,
#pulseaudio {
    margin: 0px 8px;
    padding: 0px 8px;
    min-width: 96px;
    color: @fg;
}
#custom-os-icon {
    background-image: url("/home/david/Downloads/penguin.png");
    background-repeat: no-repeat;
    background-size: 28px;
    min-width: 24px;
    margin: 1px 12px 0px 24px;
}
#window {
    font-weight: bold;
}

#pulseaudio:hover {
    color: white;
    background-color: black;
}

#workspaces button {
    transition: 0;
    color: grey;
}

#workspaces button.active {
    color: black;
}

#workspaces button:hover {
    color: white;
    background-color: black;
}

#workspaces button.urgent {
    background-color: #e78a4e;
}

#cpu.critical,
#memory.critical {
    color: #c14a4a;
}

#battery.warning,
#battery.critical,
#battery.urgent {
    color: #c14a4a;
}
