notARepository: skip
promptToReturnFromSubprocess: false
gui:
  border: 'single'
  showListFooter: true
  showBottomLine: false
  showPanelJumps: false
git:
  pagers:
    - colorArg: always
      pager: diff-so-fancy
os:
  editPreset: 'nvim'
