:root {
  --tab-block-margin: 10px;
  --tab-border-radius: 12px !important;
  --browser-padding: 6px;
}

#browser {
  /*   -moz-appearance: -moz-window-sidebar !important; */
  /*   background-color: var(--browser-bgcolor) !important; */
  background-image: none !important;
}

:root:not([sizemode="fullscreen"]) tabbox {
  margin: var(--browser-padding) !important;
  margin-top: 0 !important;
  /*   margin-left: 0 !important; */
  outline: none !important;

  clip-path: inset(0 -8px -8px -8px) !important;
  border-radius: 8px !important;
  padding-bottom: 0 !important;
  box-shadow: var(--browser-shadow) !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

:root:not([sizemode="fullscreen"]) tabpanels {
  clip-path: inset(0 0 0 0 round 0px 0px 8px 8px) !important;
}

#nav-bar {
  /*   position: initial !important; */
  margin-inline: var(--browser-padding) !important;
  border-radius: 10px 10px 0px 0px !important;
  box-shadow: var(--browser-shadow) !important;
  border-bottom: 1px solid var(--chrome-content-separator-color) !important;
  transition: none !important;
}
#navigator-toolbox {
  border: none !important;
  transition: none !important;
}

.tab-close-button {
  border-radius: 8px !important;
  opacity: 0 !important;
  transition: opacity 0.1s ease-in-out;
}

.tabbrowser-tab:hover .tab-close-button {
  opacity: 1 !important;
}

#statuspanel {
  bottom: 6px !important;
  left: 6px !important;
  opacity: 0.8 !important;
}

#statuspanel-label {
  border-radius: 99px !important;
  border: 1px solid gray !important;
  padding-inline: 8px !important;
  padding-block: 3px !important;
  letter-spacing: 0.005em !important;
}
.tabbrowser-tab {
  overflow: visible !important;
}
.tab-background {
  border-radius: var(--tab-border-radius);
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  margin-block: 0 !important;
  border: 0 !important;
  position: relative !important;
  transition: none !important;
  --uc-tab-corner-bg: transparent;
  --uc-tab-corner-outline: transparent;

  /* Both rounded bottom corners. */
  &::before,
  &::after {
    content: "" !important;
    position: absolute !important;
    width: var(--tab-border-radius) !important;
    aspect-ratio: 1 / 1;
    bottom: 0 !important;
    pointer-events: none !important;
    clip-path: inset(0);
  }

  /* Bottom left corner. */
  &::before {
    border-bottom-right-radius: var(--tab-border-radius) !important;
    left: 0 !important;
    translate: calc(-1 * var(--tab-border-radius)) 0 !important;
    box-shadow:
      /* First shadow is a 1px outline for better theming support. */
      -1px -1px var(--uc-tab-corner-outline) inset,
      /* Second shadow is to add the background colour to the corner. */ 0 0 0
        var(--tab-border-radius) var(--uc-tab-corner-bg) !important;
  }

  /* Bottom right corner. */
  &::after {
    border-bottom-left-radius: var(--tab-border-radius) !important;
    right: 0 !important;
    translate: var(--tab-border-radius) 0 !important;
    box-shadow:
      /* First shadow is a 1px outline for better theming support. */
      1px -1px var(--uc-tab-corner-outline) inset,
      /* Second shadow is to add the background colour to the corner. */ 0 0 0
        var(--tab-border-radius) var(--uc-tab-corner-bg) !important;
  }

  /* Make sure that the bottom corners have the same background colour. */
  &:is([selected]) {
    --uc-tab-corner-bg: var(
      --tab-selected-bgcolor,
      var(--lwt-selected-tab-background-color, var(--toolbar-bgcolor))
    );
    outline: none !important;
    margin-top: 4px !important;
  }

  /* Tab hover background colour. */
  .tabbrowser-tab:hover &:not([selected], [multiselected]) {
    --uc-tab-corner-bg: transparent !important;
    border-radius: var(--tab-border-radius) !important;
    margin-block: 4px !important;
  }

  /* When tabs are selected but not active, they should have a partially
   * transparent background. */
  #tabbrowser-tabs &[multiselected]:not([selected]) {
    box-shadow: none !important;
    opacity: 0.7 !important;
  }

  tab[dragtarget] & {
    --uc-tab-corner-bg: transparent !important;
    border-radius: var(--tab-border-radius) !important;
    margin-block: 4px !important;

    /*     drop-shadow: none !important; */
  }
}
